html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
}

/* Globals */

h1 {
    margin: 0 0 0 2rem;
    font-size: 1.8rem;
}

.img-cover {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 160px;
    object-fit: cover;
    vertical-align: top;
}

/* DARK THEME */

body.dark-theme,
body.dark-theme main .css-em2t9v,
body.dark-theme form.css-1timlif label,
body.dark-theme form.css-1timlif input,
body.dark-theme div.css-ffs667 select,
body.dark-theme div.css-1vib50m button {
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;
}

body.dark-theme main {
    background-color: hsl(207, 26%, 17%);
}

body.dark-theme main a.title {
    color: #ffffff;
}





